@import "tailwindcss";
@plugin "@tailwindcss/typography";

@media print {
  @page {
    size: A4;
    margin: 0;
  }
  body {
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
  }
}
